.npt {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid blue;
    outline: none;
}

.big {
    font-size: 20px;
}


.small {
    font-size: 16px;
}

.npt:focus,
.npt:hover {
    background-color: rgb(222, 249, 249);
}